<a href="https://colab.research.google.com/github/Vikasini2406/pp-III/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Employee={"name":"vikasini","age":19,"salary":10000}
print(type(Employee))
print("printing employee data")
print(Employee)

<class 'dict'>
printing employee data
{'name': 'vikasini', 'age': 19, 'salary': 10000}

In [ ]:
Dict=dict({1:'apple',2:'orange',3:'banana'})
print(Dict)

{1: 'apple', 2: 'orange', 3: 'banana'}

In [ ]:
dict={}
print(dict)

{}

In [ ]:
Employee={"name":"vikasini","age":19,"salary":10000}
print(type(Employee))
print("name:%s"%Employee["name"])
print("age:%d"%Employee["age"])
print("salary:%d"%Employee["salary"])

<class 'dict'>
name:vikasini
age:19
salary:10000

In [ ]:
dict[0]='ram'
dict[3]='sam'
dict[4]='tom'
print(dict)

{0: 'ram', 3: 'sam', 'emp_ages': (10, 30, 55), 4: 'tom'}

In [ ]:
dict['emp_ages']=10,30,55
print(dict)

{0: 'ram', 3: 'sam', 'emp_ages': (10, 30, 55), 4: 'tom'}

In [ ]:
dict[2]='karan'
print(dict)

{0: 'ram', 3: 'sam', 'emp_ages': (10, 30, 55), 4: 'tom', 2: 'karan'}

In [ ]:
Employee={"name":"vikasini","age":19,"salary":10000}
print(type(Employee))
print(Employee)
Employee["name"]=input("name:");
print(Employee)
del Employee["age"]
print(Employee)

<class 'dict'>
{'name': 'vikasini', 'age': 19, 'salary': 10000}
name:VARSHA
{'name': 'VARSHA', 'age': 19, 'salary': 10000}
{'name': 'VARSHA', 'salary': 10000}

In [ ]:
dict={1:'apple',2:'orange',3:'banana'}
pop_key=dict.pop(2)
print(pop_key)
print(dict)

orange
{1: 'apple', 3: 'banana'}

In [ ]:
Employee={"name":"vikasini","age":19,"salary":10000}
for x in Employee:
  print(x)

name
age
salary

In [ ]:
Employee={"name":"vikasini","age":19,"salary":10000}
for x in Employee:
  print(Employee[x])

vikasini
19
10000

In [ ]:
Employee={"name":"vikasini","age":19,"salary":10000}
for x in Employee.values():
  print(x)

vikasini
19
10000

In [ ]:
Employee={"name":"vikasini","age":19,"salary":10000}
for x in Employee.items():
  print(x)

('name', 'vikasini')
('age', 19)
('salary', 10000)