<a href="https://colab.research.google.com/github/Vikasini2406/pp-III/blob/main/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
days={"monday","tuesday","wednesday","thursday"}
print(days)
print(type(days))

{'monday', 'wednesday', 'tuesday', 'thursday'}
<class 'set'>

In [ ]:
days={"monday","tuesday","wednesday","thursday"}
for i in days:
  print(i)

monday
wednesday
tuesday
thursday

In [ ]:
days=set(["monday","tuesday","wednesday","thursday"])
print(days)
print(type(days))

{'monday', 'wednesday', 'tuesday', 'thursday'}
<class 'set'>

In [ ]:
set1={1,2,3,"apple",6,7}
print(type(set1))

<class 'set'>

In [ ]:
set2={1,2,3,["Apple",9]}
print(type(set2))

TypeError: unhashable type: 'list'

In [ ]:
set3={}
print(type(set3))

<class 'dict'>

In [ ]:
set4=set()
print(type(set4))

<class 'set'>

In [ ]:
set5={1,3,3,5,5,9,7}
print(set5)

{1, 3, 5, 7, 9}

In [ ]:
days={"monday","tuesday","wednesday","thursday"}
print(days)
days.add("friday")
print(days)
days.update(["saturday","sunday"])
print(days)
days.discard("sunday")
print(days)
days.remove("monday")
print(days)

{'monday', 'wednesday', 'tuesday', 'thursday'}
{'monday', 'friday', 'thursday', 'wednesday', 'tuesday'}
{'monday', 'friday', 'sunday', 'thursday', 'wednesday', 'saturday', 'tuesday'}
{'monday', 'friday', 'thursday', 'wednesday', 'saturday', 'tuesday'}
{'friday', 'thursday', 'wednesday', 'saturday', 'tuesday'}

In [ ]:
days={"monday","tuesday","wednesday","thursday"}
print(days)
days.pop()
print(days)

{'monday', 'wednesday', 'tuesday', 'thursday'}
{'wednesday', 'tuesday', 'thursday'}

In [ ]:
days1={"monday","tuesday","wednesday","thursday","sunday"}
days2={"friday","saturday","sunday"}
print(days1|days2)

{'monday', 'tuesday', 'wednesday', 'saturday', 'sunday', 'friday', 'thursday'}

In [ ]:
days1={"monday","tuesday","wednesday","thursday"}
days2={"friday","saturday","sunday"}
print(days1.union(days2))

{'sunday', 'monday', 'wednesday', 'saturday', 'friday', 'tuesday', 'thursday'}

In [ ]:
days1={"monday","tuesday","wednesday","thursday","sunday"}
days2={"friday","saturday","sunday"}
print(days1&days2)

{'sunday'}

In [ ]:
days1={"monday","tuesday","wednesday","thursday"}
days2={"monday","friday","saturday","sunday"}
print(days1.intersection(days2))

{'monday'}

In [ ]:
days1={"monday","tuesday","wednesday","thursday"}
days2={"monday","friday","saturday","sunday"}
print(days1.difference(days2))

{'wednesday', 'tuesday', 'thursday'}

In [ ]:
days1={"monday","tuesday","wednesday","thursday"}
days2={"monday","friday","saturday","sunday"}
print(days1-days2)

{'wednesday', 'tuesday', 'thursday'}

In [ ]:
days1={"monday","tuesday","wednesday","thursday","friday"}
days2={"monday","friday"}
print(days1>days2)

True

In [ ]:
days1={"monday","tuesday","wednesday","thursday"}
days2={"monday","friday","saturday"}
print(days1<days2)

False

In [ ]:
set=frozenset([1,2,3,4])
print(type(set))
set.add(9)
print(set)

<class 'frozenset'>

AttributeError: 'frozenset' object has no attribute 'add'